/* *{
    margin: 0;
    box-sizing: border-box;
}
@media  and (max-width: 600px);
{

} */

/* #btn{
    background-color: rgb(220, 218, 212);
    width: 100px;
    height: 50px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: rgb(113, 156, 156);
}

.hide{
    width: 100px;
    height: 100px;
    background-color: rgb(73, 156, 84);
    
} */