h1{
    color: rgb(28, 207, 207);
}
ol{
    color: rgb(181, 212, 175);
}
#x{
    color: rgb(139, 233, 63);

}
.y{
    color: rgb(206, 125, 26);
}
#s{
    background-color: rgb(212, 186, 202);
}

#a{
background-position: center;
}